@{
    ViewData["Title"] = "Home Page";
}

@foreach(Skill s in Model) {
    <p>@s.SkillName (@s.SkillTypeName): @s.ExperienceYears years of experience, @s.ExpertiseScore expertise rating!</p>
}
<section id="AboutMe">
    I'm a software developer currently living in the greater Seattle area! 
</section>

<section id="AboutHere">
    This portfolio site is written in ASP.Net Core 3.1 LTS, with C# on the back end.
    Though I'm familiar with them, it doesn't use a CSS preprocessor or frontend framework! (Elegance and efficiency in simplicity!)
    Everything in here is my code! Using external libraries can certainly speed up development, but I'd rather demonstrate my personal array of skills in a portfolio!
    It conforms to all <a href="https://html.spec.whatwg.org/">modern HTML5 standards</a>, validated JavaScript, and conforms to the highest (AAA) level of conformance for the W3C's <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines</a>.
    Want to know how it everything is hooked up? The source is on <a href="https://github.com/jerradneff/portfolio">GitHub</a>, and it's programmatically deployed to a Microsoft Azure App Service.
</section>