@{
    ViewData["Title"] = "Home Page";
}

@foreach(Skill s in Model) {
    <p>@s.SkillName (@s.SkillTypeName): @s.ExperienceYears years of experience, @s.ExpertiseScore expertise rating!</p>
}
