:root
{
    box-sizing: border-box;
    font-size: 18px;
    height: 100%;


    --color-purple-dark: #080008;
    --color-purple: #213;
    --color-pink: #f0f;
    --color-teal: #0ff;
    --color-white-almost: #f8f8f8;

    --space: 1.25rem;
}

body
{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
    background-color: var(--color-purple-dark);
    color: var(--color-white-almost);
}

*, *:before, *:after {
    box-sizing: inherit;
}



header {
    background-color: var(--color-purple);
    border-bottom: 0.5rem solid var(--color-pink);
    padding: var(--space);
}

main {
}

footer {
    background-color: blue;
}